<aside id="fh5co-hero"><p></p>
  <ks-swiper-container [options]="example1SwipeOptions">
    <ks-swiper-slide *ngFor="let s of [1]">

      <div class="swiper-slide slider-text" style="background: url(images/get_in_touch.jpg) no-repeat center center; background-size: cover; vertical-align: middle; text-align:center;">
        <div style="display: inline-block; position:relative; top:35%;" class="slider-text-inner text-center">
          <h2></h2>
        </div>
      </div>
    </ks-swiper-slide>
    <!-- <div class="swiper-pagination swiper-pagination-white"></div> -->
  </ks-swiper-container>
  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-blue" (click)="moveNext()"></div>
  <div class="swiper-button-prev swiper-button-blue" (click)="movePrev()"></div>

</aside>

<div class="fh5co-contact ">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-md-push-2 ">
        <h2>Contact Details</h2>
        <p> If you are interested in are research, please send us a message we can give you some courses, description about the research and more.</p><br><br>

      </div>
      <div class="col-md-3">
        <h3>Contact Info.</h3>
        <ul class="contact-info">
          <li><i class="icon-map"></i>Somewhere in Colegio</li>
          <li><i class="icon-phone"></i>+ 787-000-0000</li>
          <li><i class="icon-envelope"></i>info@yoursite.com</li>
          <li><i class="icon-globe"></i>www.yoursite.com</li>
        </ul>
      </div>
      <div class="col-md-8 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">

            <input class="form-control" placeholder="Name" type="text">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control" placeholder="Email" type="text">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input value="Send Message" class="btn btn-primary" type="submit">
          </div>
        </div>


<div id="map" class="" data-animate-effect="fadeIn"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
<script src="js/google_map.js"></script>
