<p></p>
<div class="swiper-button-next swiper-button-blue" (click)="moveNext()" style="top:45vh;"></div>
<div class="swiper-button-prev swiper-button-blue" (click)="movePrev()" style="top:45vh;"></div>
<aside style="height:63%; margin: 0 auto;">
  <ks-swiper-container [options]="example1SwipeOptions">

  <ks-swiper-slide>

    <div class="swiper-slide" style="background: url(images/group1.jpg) no-repeat center center; background-size: cover; vertical-align: middle; object-fit: contain; height:100%;">
      <p class="text-center" style="position:relative; top:50%;"><a href="http://www.uprm.edu" class="btn btn-primary with-arrow ">UPRM <i class="icon-arrow-right"></i></a></p>
    </div>
  </ks-swiper-slide>

  <ks-swiper-slide >

      <div class="swiper-slide" style="background: url(images/thanks.jpg) no-repeat center center; background-size:contain; vertical-align: middle;">
        <h1 class="text-center" style="position:relative; top:80%; font-size:27pt; font-weight:700;">Thank you for your support!</h1>
      </div>
    </ks-swiper-slide>

    <!-- <div class="swiper-pagination swiper-pagination-white"></div> -->
</ks-swiper-container>

</aside>

<div id="fh5co-services-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
        <h2><a [routerLink]="['research']">Our Awesome Research</a></h2>
        <p>"As engineers, we were going to be in a position to change the world - not just study it". By: Henry Petroski</p>
        <p><a routerLink="/research" class="btn btn-primary with-arrow ">Go to Our Research<i class="icon-arrow-right"></i></a></p>
        <br><br><br>
        <h2><a href="https://www.nsf.gov/">Special Thanks</a></h2>
        <p>We want to give a special thanks to the National Science Foundation for supporting our research! </p><p> <img class="fixed-ratio-resize" src="images/nsflogo.png" style="width:40%" ></p>
        <p><a href="https://www.nsf.gov/" class="btn btn-primary with-arrow ">Go to NSF<i class="icon-arrow-right"></i></a></p>

      </div>
    </div>
  </div>
</div>
