
<aside id="fh5co-hero"><p></p>
  <ks-swiper-container [options]="example1SwipeOptions">
    <ks-swiper-slide *ngFor="let s of [1,2]">

      <div class="swiper-slide" style="background: url(images/Group1.jpg) no-repeat center center; background-size: cover; vertical-align: middle;">
        <p class="text-center" style="position:relative; top:50%;"><a href="http://www.uprm.edu" class="btn btn-primary with-arrow ">UPRM <i class="icon-arrow-right"></i></a></p>
      </div>
    </ks-swiper-slide>
    <!-- <div class="swiper-pagination swiper-pagination-white"></div> -->
  </ks-swiper-container>
  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-blue" (click)="moveNext()"></div>
  <div class="swiper-button-prev swiper-button-blue" (click)="movePrev()"></div>

</aside>

<div id="fh5co-services-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
        <h2><a href="research.html">Our Awesome Research</a></h2>
        <p>"As engineers, we were going to be in a position to change the world - not just study it". By: Henry Petroski</p>
        <p><a routerLink="/research" class="btn btn-primary with-arrow ">Our Research<i class="icon-arrow-right"></i></a></p>

      </div>
    </div>
  </div>
</div>
