<aside id="fh5co-hero"><p></p>
  <ks-swiper-container [options]="example1SwipeOptions">
    <ks-swiper-slide *ngFor="let s of [1]">

      <div class="swiper-slide slider-text" style="background: url(images/Material.gif) no-repeat center center; background-size: cover; vertical-align: middle; text-align:center;">
        <div style="display: inline-block; position:relative; top:35%;" class="slider-text-inner text-center">
          <h2>Material Science <br> &amp; <br> Engineering</h2>
        </div>
      </div>
    </ks-swiper-slide>
    <!-- <div class="swiper-pagination swiper-pagination-white"></div> -->
  </ks-swiper-container>
  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-blue" (click)="moveNext()"></div>
  <div class="swiper-button-prev swiper-button-blue" (click)="movePrev()"></div>

</aside>

<div class="fh5co-about">
<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
  <h2>Research History</h2>
  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </p>
</div>
<div class="container">
  <div class="col-md-12">
    <figure>
      <img src="images/portico1.gif" alt="UPRM" class="img-responsive">
    </figure>
  </div>
  <div class="col-md-8 col-md-push-4">
    <h2>University's History</h2>
    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
    <p><a href="#" class="btn btn-primary btn-outline with-arrow">Learn more <i class="icon-arrow-right"></i></a></p>


  </div>
</div>
</div>

<div class="fh5co-team fh5co-light-grey-section">
<div class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
        <h2>Courses</h2>
        <p>This section will include the clases that are offering the professors </p>
      </div>
      <div class="col-md-4 fh5co-staff text-center">
        <img src="images/Material1.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
        <h3>Yang Li</h3>
        <h4>Material Science and Engineering Professor</h4>
        <p>INGE 3045: MATERIALS SCIENCE FOR ELECTRICAL ENGINEERS</p>
        <p>
          <li>INGE 3045-086 2:00 pm - 3:15 pm  MJ   S 306</li>
          <li>INGE 3045-096	3:30 pm - 4:45 pm  MJ   S 306</li>
          <li>INGE 3045-116	5:00 pm - 6:15 pm  MJ   S 306</li>
        </p>
        <!-- <ul class="fh5co-social">
          <li><a href="#"><i class="icon-google"></i></a></li>
          <li><a href="#"><i class="icon-dribbble"></i></a></li>
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-instagram"></i></a></li>
        </ul> -->
      </div>
      <div class="col-md-4 fh5co-staff text-center">
        <img src="images/electrical.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
        <h3>Dr. Kejie Lu</h3>
        <h4>Electrical and Computer Engineering Professor</h4>
        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
        <!-- <ul class="fh5co-social">
          <li><a href="#"><i class="icon-google"></i></a></li>
          <li><a href="#"><i class="icon-dribbble"></i></a></li>
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-instagram"></i></a></li>
        </ul> -->
      </div>
      <div class="col-md-4 fh5co-staff text-center">
        <img src="images/descarga.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive">
        <h3>Prof. Jun-Qiang Lu</h3>
        <h4>Physics Professor</h4>
        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
        <!-- <ul class="fh5co-social">
          <li><a href="#"><i class="icon-google"></i></a></li>
          <li><a href="#"><i class="icon-dribbble"></i></a></li>
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-instagram"></i></a></li>
        </ul> -->
      </div>
    </div>
</div>
</div>


<!-- <div id="fh5co-services-section">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      <h2>Our pleasure to serve you</h2>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
    </div>
    <div class="col-md-4 text-center item-block">
      <h3>INGE 3045: MATERIALS SCIENCE FOR ELECTRICAL ENGINEERS</h3>
      <p>PRINCIPLES THAT DETERMINE THE PROPERTIES OF CONDUCTORS, SEMICONDUCTORS, AND INSULATORS. ELECTROCHEMICAL PROPERTIES; DIFFUSION, ELECTRICAL CONDUCTION, THERMAL CONDUCTION; MAGNETIC AND OPTICAL PROPERTIES.</p>
      <p><a href="http://engineering.uprm.edu/" class="btn btn-primary btn-outline with-arrow">Learn more <i class="icon-arrow-right"></i></a></p>
    </div>
    <div class="col-md-4 text-center item-block">
      <h3>Explore</h3>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
      <p><a href="#" class="btn btn-primary btn-outline with-arrow">Learn more <i class="icon-arrow-right"></i></a></p>
    </div>
    <div class="col-md-4 text-center item-block">
      <h3>Expertise</h3>
      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
      <p><a href="#" class="btn btn-primary btn-outline with-arrow">Learn more <i class="icon-arrow-right"></i></a></p>
    </div>
  </div>
</div>
</div> -->

<div class="fh5co-cta" style="background-image: url(images/bilayer-g.jpg);">
<div class="overlay"></div>
<div class="container">
  <div class="col-md-12 text-center">
    <h3>Have any questions?</h3>
    <p><a [routerLink]="['contact-us']" class="btn btn-primary btn-outline with-arrow">Ask away! <i class="icon-arrow-right"></i></a></p>
  </div>
</div>
</div>
