<aside style="height:63%; margin: 0 auto;"><p></p>
  <ks-swiper-container [options]="example1SwipeOptions">
    <ks-swiper-slide *ngFor="let s of [1]">

      <div class="swiper-slide slider-text" style="background: url(images/group1.jpg) no-repeat center center; background-size: cover; vertical-align: middle; text-align:center;">
        <div style="display: inline-block; position:relative; top:50%;" class="slider-text-inner text-center">
        <h2><font color="white">Meet Our Team</font></h2>
        <h2><font color="white" size="5px">Check below. To see more information about them, click them.</font></h2>
      </div>
      </div>
    </ks-swiper-slide>
    <!-- <div class="swiper-pagination swiper-pagination-white"></div> -->
  </ks-swiper-container>
  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-blue" (click)="moveNext()"></div>
  <div class="swiper-button-prev swiper-button-blue" (click)="movePrev()"></div>

</aside>

<div id="fh5co-work-section" class="fh5co-light-grey-section">
  <div class="container"> 
<div *ngFor="let teamRow of teamRows" class="row">
  <div *ngFor="let team of teamRow.myTeam" class="col-md-4" style="width: 16.6%;">
      <a data-toggle="modal" [attr.data-target]="'#'+team.id+'TeamModal'" class="item-grid text-center">
        <img class="image" src="images/{{team.imageUrl}}.jpg">
        <div class="v-align">
          <div class="v-align-middle">
            <h3 class="title">{{team.Name}}</h3>
            <h5 class="category">{{team.info}}</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
</div>
