<aside id="fh5co-hero"><p></p>
  <ks-swiper-container [options]="example1SwipeOptions">
    <ks-swiper-slide *ngFor="let s of [1]">

      <div class="swiper-slide slider-text" style="background: url(images/group1.jpg) no-repeat center center; background-size: cover; vertical-align: middle; text-align:center;">
        <div style="display: inline-block; position:relative; top:35%;" class="slider-text-inner text-center">
        <h2>Meet Our Team</h2>
      </div>
      </div>
    </ks-swiper-slide>
    <!-- <div class="swiper-pagination swiper-pagination-white"></div> -->
  </ks-swiper-container>
  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-blue" (click)="moveNext()"></div>
  <div class="swiper-button-prev swiper-button-blue" (click)="movePrev()"></div>

</aside>

<div id="fh5co-work-section" class="fh5co-light-grey-section">
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a href="http://www.uprm.edu/ciym/Faculty/yli.html" class="item-grid text-center">
        <div class="image" style="background-image: url(images/yangli.jpg)"></div>
        <div class="v-align">
          <div class="v-align-middle">
            <h3 class="title">Yang Li, Ph.D.</h3>
            <h5 class="category">Associate Professor</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://academic.uprm.edu/~jlu/ " class="item-grid text-center">
        <div class="image" style="background-image: url(images/jlu.jpg)"></div>
        <div class="v-align">
          <div class="v-align-middle">
            <h3 class="title">Jun-Qiang Lu, Ph.D.</h3>
            <h5 class="category">Associate Professor</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://ece.uprm.edu/~lukejie/" class="item-grid text-center">
        <div class="image" style="background-image: url(images/kejie.jpg)"></div>
        <div class="v-align">
          <div class="v-align-middle">
            <h3 class="title">Kejie Lu, Ph.D.</h3>
            <h5 class="category">Associate Professor</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" class="item-grid text-center">
        <div class="image" style="background-image: url(images/manuel.jpg)"></div>
        <div class="v-align">
          <div class="v-align-middle">
            <h3 class="title">Manuel A. Baez Gonzalez</h3>
            <h5 class="category">Computer Engineering Student, Third Year</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" class="item-grid text-center">
        <div class="image" style="background-image: url(images/angel.jpg)"></div>
        <div class="v-align">
          <div class="v-align-middle">
            <h3 class="title">Angel D. Colon Rios</h3>
            <h5 class="category">Electrical Engineering Student, Third Year</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" class="item-grid text-center">
        <div class="image" style="background-image: url(images/ernesto.jpg)"></div>
        <div class="v-align">
          <div class="v-align-middle">
            <h3 class="title">Ernesto J. Arroyo Aviles</h3>
            <h5 class="category">Electrical Engineering Student, Fourth Year</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" class="item-grid text-center">
        <div class="image" style="background-image: url(images/kevin.jpg)"></div>
        <div class="v-align">
          <div class="v-align-middle">
            <h3 class="title">Kevin Orta</h3>
            <h5 class="category">Electrical Engineering Student, Third Year</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" class="item-grid text-center">
        <div class="image" style="background-image: url(images/shayny.jpg)"></div>
        <div class="v-align">
          <div class="v-align-middle">
            <h3 class="title">Shayny Ortiz</h3>
            <h5 class="category">Student</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" class="item-grid text-center">
        <div class="image" style="background-image: url(images/adrian.jpeg)"></div>
        <div class="v-align">
          <div class="v-align-middle">
            <h3 class="title">Adrian Soto</h3>
            <h5 class="category">Computer Engineering Student, Third Year</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#" class="item-grid text-center">
        <div class="image" style="background-image: url(images/daniel.jpg)"></div>
        <div class="v-align">
          <div class="v-align-middle">
            <h3 class="title">Daniel J. Vicens</h3>
            <h5 class="category">Electrical Engineering Student, Third Year</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
</div>
