.research {
        /*height: 50vh;*/
        /*background: #5cd65c;*/
    }

    :host(.researchContainer) {
        /*display: inline-block;*/
        /*position: fixed;*/
        width: 100%;
        -webkit-transition: all ease-in 0.5s;
        transition: all ease-in 0.5s;
    }

    :host(.researchContainer.ng-enter) {
        transform: rotateZ(180deg)
    }

    :host(.research.ng-enter-active) {
        transform: rotateZ(0deg)
    }
